/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Navegación */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Sección principal */
main {
    padding: 20px;
}

/* Pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    /* Estilos para tablet y dispositivos móviles */
    nav ul {
        text-align: left;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    /* Estilos para la sección principal en dispositivos móviles */
    main {
        padding: 10px;
    }

    /* Estilos para el pie de página en dispositivos móviles */
    footer {
        padding: 5px 0;
    }
    
    /* Estilos para hacer las imágenes responsivas */
    img {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    /* Estilos para dispositivos móviles más pequeños */
    nav ul li {
        margin: 5px 0;
    }
}


.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

